[submodule "abprall/lib/windfield"]
	path = abprall/lib/windfield
	url = https://github.com/SSYGEN/windfield
[submodule "abprall/lib/SaveData"]
	path = abprall/lib/SaveData
	url = https://github.com/BroccolliRaab/SaveData
[submodule "abprall/lib/CScreen"]
	path = abprall/lib/CScreen
	url = https://github.com/CodeNMore/CScreen
[submodule "abprall/lib/Gspot"]
	path = abprall/lib/Gspot
	url = https://github.com/Junky-Josqu/Gspot
